%btn {
  margin-top: 15px;
  width: 100%;
  color: $tertiary-color;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.btn{
  &-default {
    @extend %btn;
    background-color: $link-color;
  }

  &-error {
    @extend %btn;
    background-color: $backcolor9;
  }

  &-info {
    @extend %btn;
    background-color: $backcolor1;
  }

  &-success {
    @extend %btn;
    background-color: $backcolor10;
  }

  &-warning {
    @extend %btn;
    background-color: $backcolor2;
  }
}
