.btn {
  margin-top: 15px;
  width: 100%;
  color: $tertiary-color;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default {
  background-color: $link-color;
}

.error {
  background-color: $backcolor9;
}

.info {
  background-color: $backcolor1;
}

.success {
  background-color: $backcolor10;
}

.warning {
  background-color: $backcolor2;
}
